node_modules/
Work/
Weirderscan-win32-x64/chrome_100_percent.pak
Weirderscan-win32-x64/chrome_200_percent.pak
Weirderscan-win32-x64/d3dcompiler_47.dll
Weirderscan-win32-x64/ffmpeg.dll
Weirderscan-win32-x64/icudtl.dat
Weirderscan-win32-x64/libEGL.dll
Weirderscan-win32-x64/libGLESv2.dll
Weirderscan-win32-x64/LICENSE
Weirderscan-win32-x64/LICENSES.chromium.html
Weirderscan-win32-x64/resources.pak
Weirderscan-win32-x64/snapshot_blob.bin
Weirderscan-win32-x64/v8_context_snapshot.bin
Weirderscan-win32-x64/version
Weirderscan-win32-x64/vk_swiftshader_icd.json
Weirderscan-win32-x64/vk_swiftshader.dll
Weirderscan-win32-x64/vulkan-1.dll
Weirderscan-win32-x64/Weirderscan-win32-x64.zip
Weirderscan-win32-x64/Weirderscan.exe
Weirderscan-win32-x64/locales/af.pak
Weirderscan-win32-x64/locales/am.pak
Weirderscan-win32-x64/locales/ar.pak
Weirderscan-win32-x64/locales/bg.pak
Weirderscan-win32-x64/locales/bn.pak
Weirderscan-win32-x64/locales/ca.pak
Weirderscan-win32-x64/locales/cs.pak
Weirderscan-win32-x64/locales/da.pak
Weirderscan-win32-x64/locales/de.pak
Weirderscan-win32-x64/locales/el.pak
Weirderscan-win32-x64/locales/en-GB.pak
Weirderscan-win32-x64/locales/en-US.pak
Weirderscan-win32-x64/locales/es-419.pak
Weirderscan-win32-x64/locales/es.pak
Weirderscan-win32-x64/locales/et.pak
Weirderscan-win32-x64/locales/fa.pak
Weirderscan-win32-x64/locales/fi.pak
Weirderscan-win32-x64/locales/fil.pak
Weirderscan-win32-x64/locales/fr.pak
Weirderscan-win32-x64/locales/gu.pak
Weirderscan-win32-x64/locales/he.pak
Weirderscan-win32-x64/locales/hi.pak
Weirderscan-win32-x64/locales/hr.pak
Weirderscan-win32-x64/locales/hu.pak
Weirderscan-win32-x64/locales/id.pak
Weirderscan-win32-x64/locales/it.pak
Weirderscan-win32-x64/locales/ja.pak
Weirderscan-win32-x64/locales/kn.pak
Weirderscan-win32-x64/locales/ko.pak
Weirderscan-win32-x64/locales/lt.pak
Weirderscan-win32-x64/locales/lv.pak
Weirderscan-win32-x64/locales/ml.pak
Weirderscan-win32-x64/locales/mr.pak
Weirderscan-win32-x64/locales/ms.pak
Weirderscan-win32-x64/locales/nb.pak
Weirderscan-win32-x64/locales/nl.pak
Weirderscan-win32-x64/locales/pl.pak
Weirderscan-win32-x64/locales/pt-BR.pak
Weirderscan-win32-x64/locales/pt-PT.pak
Weirderscan-win32-x64/locales/ro.pak
Weirderscan-win32-x64/locales/ru.pak
Weirderscan-win32-x64/locales/sk.pak
Weirderscan-win32-x64/locales/sl.pak
Weirderscan-win32-x64/locales/sr.pak
Weirderscan-win32-x64/locales/sv.pak
Weirderscan-win32-x64/locales/sw.pak
Weirderscan-win32-x64/locales/ta.pak
Weirderscan-win32-x64/locales/te.pak
Weirderscan-win32-x64/locales/th.pak
Weirderscan-win32-x64/locales/tr.pak
Weirderscan-win32-x64/locales/uk.pak
Weirderscan-win32-x64/locales/ur.pak
Weirderscan-win32-x64/locales/vi.pak
Weirderscan-win32-x64/locales/zh-CN.pak
Weirderscan-win32-x64/locales/zh-TW.pak
Weirderscan-win32-x64/resources/app/icon.ico
Weirderscan-win32-x64/resources/app/nativefier.json
Weirderscan-win32-x64/resources/app/npm-shrinkwrap.json
Weirderscan-win32-x64/resources/app/package.json
Weirderscan-win32-x64/resources/app/inject/_placeholder
Weirderscan-win32-x64/resources/app/lib/main.js
Weirderscan-win32-x64/resources/app/lib/main.js.map
Weirderscan-win32-x64/resources/app/lib/preload.js
Weirderscan-win32-x64/resources/app/lib/preload.js.map
Weirderscan-win32-x64/resources/app/lib/static/login.css
Weirderscan-win32-x64/resources/app/lib/static/login.html
Weirderscan-win32-x64/resources/app/lib/static/login.js
images/weirderscanpfp.png
package.json
package-lock.json
main.js

resources/ios/**/*
resources/android/**/*